@use "sass:color";
@use "../base/colors";
@use "../base/variables";
@use "../base/typography";

.detail-item {
	display: grid;
	grid-template-rows: auto auto 1fr;
	gap: variables.$size-large;

	width: min(900px, 100% - 2rem);
	margin: variables.$size-extra-large auto;
	padding: variables.$size-large;

	background-color: colors.$neutral-lighter;
	border: variables.$border solid colors.$primary-main;
	border-radius: variables.$border-radius;
	box-shadow: variables.$shadow-light;

	&__header {
		display: grid;
		justify-items: center;
		row-gap: variables.$size-small;
		text-align: center;

		h1 {
			@extend %heading-doble-extra-large;

			color: colors.$primary-main;
		}
	}

	&__price-label {
		@extend %text-medium;
		justify-self: center;
		text-align: center;

		margin-top: .125rem;
	}

	/* --- Media --- */
	&__figure {
		display: grid;
		justify-items: center;
		align-items: center;
		background-color: colors.$neutral-light;
		border-radius: variables.$border-radius;
		overflow: hidden;
		min-height: 0;
		/* per evitar overflow en contenidors flex/grid */

		.detail-item__image {
			width: 100%;
			height: auto;
			display: block;
			object-fit: cover;
			aspect-ratio: 16/9;
			/* ajuda la composició mentre carrega */
		}
	}

	/* --- Body --- */
	&__body {
		display: grid;
		gap: variables.$size-small;
		text-align: center;
		color: colors.$neutral-darker;
		padding: 0 variables.$size-small variables.$size-small;

		@extend %text-medium;

	}

	&__total {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: variables.$size-small;

		padding: variables.$size-medium;
	}
}

@media (min-width: variables.$breakpoint-medium) {
	.detail-item {
		width: min(1000px, 100% - 4rem);
		padding: variables.$size-extra-large;
		gap: variables.$size-extra-large;
	}

	.detail-item__image {
		aspect-ratio: 21/9;
	}
}
