@use "sass:color";
@use "../base/colors";
@use "../base/variables";

.page {
	&__header {
		display: grid;

		grid-template-columns: 1fr auto;
		align-items: center;
		gap: variables.$size-small;

		margin-bottom: 1rem;
	}

	padding-bottom: 1rem;
}

/** Grid de main cards */
.main-items-grid {
	display: grid;

	grid-template-columns: repeat(auto-fill, minmax(variables.$main-item-width, 1fr));
	gap: variables.$size-large;
	align-items: start;

	width: min(variables.$viewport-max-width, 100% - 2rem);
	margin: variables.$size-medium auto;
	padding: variables.$size-small;
}