@use "../base/colors";
@use "../base/variables";

.map {
	position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
	min-height: 70vh;
}

.sidebar {
	display: flex;
}

.data {
  background-color: colors.$neutral-dark;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
	width: 90%;
}

.save-button {
  padding: 4px 10px;
  border-radius: 10px;
	width: 10%;
  cursor: pointer;
}
