@use "sass:color";
@use "../base/colors";
@use "../base/variables";
@use "../elements/icons";

.modal-shell {
	width: min(48rem, 92vw);
	max-height: 90vh;

	inset: 0;
	margin: auto;

	overflow: auto;
	background-color: colors.$neutral-lighter;
	border: variables.$border solid colors.$primary-lighter;
	border-radius: variables.$border-radius;
	box-shadow: 0 24px 48px rgba(colors.$neutral-darker, .25);

	.form {
		border: none;
		box-shadow: none;
	}

	/* treu les decoracions natives (Chrome) */
	&::-webkit-details-marker {
		display: none;
	}

	&::backdrop {
		background-color: rgba(colors.$neutral-darker, .75);
		/* enfosquit nadiu */
	}
}

.modal-shell--sm {
	width: min(28rem, 92vw);
}

.modal-shell--md {
	width: min(40rem, 92vw);
}

.modal-shell--lg {
	width: min(56rem, 92vw);
}

.circle-icon {
	@extend %circle-icon;
}

/* Animació d’entrada */
.modal-shell[open] {
	animation: modal-enter .16s ease-out;
}

@keyframes modal-enter {
	from {
		transform: translateY(-6px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}
