@use "sass:color";
@use "../base/variables";
@use "../base/colors";
@use "../base/typography";

.alert {
	display: grid;
	grid-template-columns: 1fr auto;
	/* text + (opcional) botó tancar */
	align-items: start;
	gap: variables.$size-small;

	padding: variables.$size-medium;
	border-radius: variables.$border-radius;
	border: variables.$border solid colors.$primary-main;
	/* default, sobreescrit per variants */
	background-color: colors.$neutral-lightest;

	font-size: 0.95rem;
	line-height: 1.35;

	// Toast
	animation: toast-enter .15s ease-out;

	&--success {
		border-color: colors.$success-main;
		background-color: colors.$success-lighter;
		color: colors.$success-dark;
	}

	&--warning {
		border-color: colors.$warning-main;
		background-color: colors.$warning-lighter;
		color: colors.$warning-dark;
	}

	&--error {
		border-color: colors.$danger-main;
		background-color: colors.$danger-lighter;
		/* suau */
		color: colors.$danger-dark;
	}

	&--info {
		border-color: colors.$primary-main;
		background-color: color.scale(colors.$primary-main, $lightness: 75%);
		color: colors.$primary-dark;
	}


	&__text {
		margin: 0;
	}

	&__close {
		border: variables.$border solid transparent;
		background-color: transparent;
		border-radius: variables.$border-radius;
		padding: variables.$size-extra-small variables.$size-small;
		line-height: 1;
	}
}

.toast-stack {
	position: fixed;
	top: variables.$size-large;
	right: variables.$size-large;
	display: grid;
	gap: variables.$size-small;
	z-index: 3;
	width: min(420px, 92vw);
}

@keyframes toast-enter {
	from {
		transform: translateY(-6px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}
